.filters {
    height: 70px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    align-items: center;
    background-color: white;
    border: 1px solid #DDDDDD;
}

.filters button {
    font-size: 18px;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
    color: #FFFFFF;
    background-color: #FF5A5F;
}

button:hover {
    background-color: rgb(255, 90, 95, 0.9);
}